




















































































































/* Portfolio */

*{
    font-family: "Open Sans", sans-serif;
    line-height: 2rem;
}
#portfolio h2{
    color: #4E4E4E;
    font-size: 2.5rem;
    text-align: center;
} 
#portfolio p{
    color: #787878;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 10px;
}
#portfolio{
    background-color: #F2F2F2;
    padding: 20px 0 80px;
}
.image-center{
    margin: auto;
    width: 50%;
    text-align: center;
}
.image-center img{
    width: 200px;
    height: 120px;
    transition: all 0.9s ease;
}
.image-center img:hover{
    transform: rotateZ(-8deg);
}
.image-center img.rotation:hover{
    transform: rotate(1turn);
    border-radius: 50%;
}
/* /Portfolio */