/*Estilos Generales */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    max-width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    body {
      font-size: 18px;
    }
  
    .header-title {
      font-size: 1.5em;
    }
  
    #whoweare .left-article, #whoweare .right-article {
      font-size: 0.8em;
    }
  }

  img {
    max-width: 100%;
    height: auto;
}

/*Estilos Generales */

/* Inicio Css Header Eduardo */
header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 480px;
    position: relative;
}

@media screen and (max-width: 768px) { 
    header {
        background-image: url('../img/header-mini.png'); 
    }
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title {
    font-size: 26px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-title {
        font-size: 32px;
    }
}

@media (min-width: 1025px) {
    .header-content {
        left: 5%;
        transform: translateY(-50%);
    }
    .header-title {
        font-size: 32px;
        text-align: left;
    }
}

nav {
    background-color: #61458C;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.nav-list li {
    display: inline;
    margin: 0 20px;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF !important;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 10px;
}
.nav-link:hover {
    background-color: #fff;
    color: #61458C !important;
}
.custom-navbar {
    background-color: #61458C;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Fin Css Header Eduardo */


/* Inicio Who We Are*/
#vertical-bar{
    width: 1px;
    height: 80%;
    left: 47.5%;
    top: 20%; /* - --> sube, + --> baja*/
    background-color: lightgrey;
    position: absolute;
    }

#whoweare h2{
    padding-top: 30px;
    padding-bottom: 30px;
    }
#whoweare{
    background-color: #faf5f5ce;
    text-align: center;
    position: relative;
    }
#whoweare h3{
    margin-bottom: 30px;
    }
#whoweare article{
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 10px;}
.right-article{
    display: inline-block;
    width: 45%;
    text-align: justify;
    margin-top:70px;
    }
.left-article{
    display: inline-block;
    width: 40%;
    text-align: justify;
    margin-top:70px;
    }
#left-img{
    float: left;
    margin-right: 5px;
    }
#center-img{
    display: block;
    margin: 45px auto 45px auto;
    }

    @media screen and (min-width: 1200px) {
        .border-right {
            border-right: 1px solid lightgrey;;
        }
      }
/*Fin Who We Are*/

/*Servicios*/
#service{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#service h2{
    padding-top: 20px;
}

#service article{
    margin: 10px;
    text-align: justify;
}

#service p{
    font-size: 0.8em;
    line-height: 180%;
    color: rgb(87, 85, 85); /*color del texto del paragrafo más claro ??*/
}

#service h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

.fa-solid{
    --fa-border-color:lightgrey;
    --fa-border-style: solid;
    --fa-border-width: 5px;
    --fa-border-radius: 50%;
    --fa-border-padding:.6em .5em;
    color:#61458c;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 8px !important;  /*la clase fa-pull-left tiene un margin propio*/
    transition-duration: 0.8s;
}

.fa-solid:hover {
    background-color:#61458c;
    --fa-border-color:#61458c;
    color:white;
}

/*Fin Servicios*/

/* Portfolio */
#portfolio{
    background-color: #F2F2F2;
    padding: 20px 0 80px;
    text-align: center;
}
#portfolio h2{
    color: #4E4E4E;
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
#portfolio p{
    color: #787878;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
#row{
    margin: auto;
}
div.col-sm-12{
    margin-bottom: 5px;
}
.col-sm-12 img{
    width: 200px;
    height: 120px;
    transition: all 0.9s ease;
}
@media (min-width: 1200px){
    img.transform:hover{
        transform: rotateZ(-8deg);
    }
    img.rotation:hover{
        transform: rotate(1turn);
        border-radius: 50%;
    }
}
    /* /Portfolio */

/* Contacto */
#contact{
    margin: auto;
    text-align: center;
    padding: 6%;
}
#contact h2{
    margin-bottom: 2%;
}
#contact h3{
    margin-bottom: 3%;
    font-size: 1.4em;
    font-weight: 300;
}
#contact h4{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: #4E4E4E;
}
#map{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #4E4E4E;
    display: inline-block;
    margin-bottom: 40px;
}
#address{
    display: inline-block;
    margin-left: 5%;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 4em;
}
address{
    padding-bottom: 20px;
}
/* Fin Contacto */

#containerFormContact{
    background-color: #79629e;
    background-image: url(../img/map-image.png);
    min-height: 300px;
    padding-top: 5%;
    padding-bottom: 6%;
    background-size: auto 100%;
    margin: auto;
}

#containerFormContact label{
    display: block;
    text-align: left;
    vertical-align: top;
}

@media (min-width: 576px) {
    #containerFormContact {
      margin: 2em auto;
    }
  
    #containerFormContact .form-group {
      padding: 0.1em;
    }
  
    #containerFormContact .col-form-label {
      text-align: right;
    }
  }
  
  @media (max-width: 576px) {
    #containerFormContact .col-form-label {
      text-align: left;
    }
  }
  
  .custom-btn {
    background-color: #efefef;
    color: #000000; 
    border: none;
    margin-top: 0.8em;
}

.custom-btn:hover {
    background-color: #838383; 
}
/* Footer Vicky */
footer p{
    background-color: #61458C;
    color: #ffffff;
    margin: 0px;
    padding: 15px 15px 15px 0;
    text-align: right;
}
footer a{
    color: #ffffff;
    &:hover{
        color: #4e4e4e;
        background-color: #f2f2f2;
    }
}
/* /Footer Vicky */
/* Gracias por contactarnos Vicky */
.mt-4{
    margin-top: 4%;
}
.pt-15{
    padding-top: 15%;
}
.textCenter{
    text-align: center;
}
.thanks{
    min-height: 95vh;
}
.buttonFirst{
    color:#ffffff;
    font-size: 1.1em;
    background-color: #61458C;
    padding: 1% 2%;
    border-radius: 10px;
    text-decoration: none;
    &:hover{
        border: 2px solid #61458C;
        background-color: white;
        color: #4e4e4e;
    }
}
/* /Gracias por contactarnos Vicky */
