/*Estilos Generales */

body {
    max-width: 1024px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 18px;
    }

    .header-title {
        font-size: 1.5em;
    }

    #whoweare article {
        font-size: 0.8em;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* /Estilos Generales */

/* Inicio Css Header Eduardo */
header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 480px;
    position: relative;
}

@media screen and (max-width: 768px) { 
    header {
        background-image: url('../img/header-mini.png'); 
    }
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-title {
    font-size: 26px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-title {
        font-size: 32px;
    }
}

@media (min-width: 1025px) {
    .header-content {
        left: 5%;
        transform: translateY(-50%);
    }
    .header-title {
        font-size: 32px;
        text-align: left;
    }
}

nav {
    background-color: #61458C;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.nav-list li {
    display: inline;
    margin: 0 20px;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF !important;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 10px;
}
.nav-link:hover {
    background-color: #fff;
    color: #61458C !important;
}
.custom-navbar {
    background-color: #61458C;
}
.navbar{
    position: absolute;
}

/* Fin Css Header Eduardo */

/*Inicio Who We Are*/

#whoweare{
    background-color: #faf5f5ce;
}

#whoweare article{
    text-align: justify;
}

#whoweare .row p{
    text-align: left;
}

.border-right {
    border-right: 1px solid lightgrey;
}

@media screen and (max-width: 1200px) {
    .border-right {
            border-right: 0
    }
    #img-end{
        display:none;
    }
}

/*Fin Who We Are*/

/*Inicio Services*/

#service article {
    text-align: left;
}

#service p{
    font-size: 0.9em;
    color: rgb(87, 85, 85); /*color del texto del paragrafo más claro ??*/
}

#service h3 {
   padding-top: 25px;/*titulo más abajo */
}

.fa-solid{
    --fa-border-color:lightgrey;
    --fa-border-style: solid;
    --fa-border-width: 5px;
    --fa-border-radius: 50%;
    --fa-border-padding:1.1em;
    color:#61458c;
    transition-duration: 0.8s;
    position: relative;
}

.fa-solid::before {     /* pseudoclass ::before para centrar el icono dentro del círculo.*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px){
    .fa-solid:hover {
        background-color:#61458c;
        --fa-border-color:#61458c;
        color:white;
    }
}

/*Fin Services*/

/* Inicio Portfolio */

#portfolio{
    background-color: #F2F2F2;
    padding: 20px 0 80px;
    text-align: center;
}

#portfolio h2{
    color: #4E4E4E;
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

#portfolio p{
    color: #605f5f;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
.marginAuto{
    margin: auto;
    width: 75%;
}

.col-sm-12 img{
    width: 200px;
    height: 120px;
    transition: all 0.9s ease;
}

@media (min-width: 1200px){
    img.transform:hover{
        transform: rotateZ(-8deg);
    }
    img.rotation:hover{
        transform: rotate(1turn);
        border-radius: 50%;
    }
}

div.marginAuto{
    margin: auto;
}

/* /Portfolio */

/*CSS Contacto */

#contact{
    margin: auto;
    text-align: center;
    padding: 6%;
}

#contact h3{
    font-size: 1.4em;
    font-weight: 300;
}

#contact h4{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: #4E4E4E;
}

#map{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #4E4E4E;
}

#address{
    padding-top: 40px;
    margin-left: 5%;    
    vertical-align: bottom;
    text-align: center;
}

.embed-responsive-item{
    margin-top: 20px;
}

@media (max-width: 768px) {
    #address{
        padding-top: 20px;
        transform: scale(0.7);
    }
}
@media (min-width: 995px){
    #address{
        text-align: left;
    }
}

/* Fin Contacto */


/* Footer Vicky */

#containerFormContact{
    background-color: #79629E;
    background-image: url(../img/map-image.png);
    background-size: auto 100%;
}

#containerFormContact label{
    display: block;
    text-align: left;
    vertical-align: top;
}

@media (min-width: 576px) {
    #containerFormContact .form-group {
        padding: 0.1em;
    }
    #containerFormContact .col-form-label {
        text-align: right;
    }
}

@media (max-width: 576px) {
    #containerFormContact .col-form-label {
    text-align: left;
    }
}

#containerFormContact .custom-btn {
    background-color: #EFEFEF;
    color: #000000;
    border: none;
    margin-top: 0.8em;
}
#containerFormContact .custom-btn:hover {
    background-color: #838383;
}

/* Footer */

footer p{
    background-color: #61458C;
    color: #FFFFFF;
    margin: 0px;
}

footer a{
    color: #FFFFFF;
    &:hover{
        color: #4E4E4E;
        background-color: #F2F2F2;
    }
}

/* /Footer */

/* Gracias por contactarnos */

.link-btn{
    color:#ffffff;
    font-size: 1.1em;
    background-color: #61458C;
    padding: 1em 2em;
    border-radius: 10px;
    text-decoration: none;
    &:hover{
        border: 2px solid #61458C;
        background-color: white;
        color: #4E4E4E;
    }
}

/* /Gracias por contactarnos */